script(type="text/x-template")#works-container
    .works__content
        display(
            :currentWork="currentWork"
            :works="works"
            @slide="slide"
            :currentIndex="currentIndex"
        )
        info(
            :currentWork="currentWork"
        )

        
script(type="text/x-template")#works-display
    .works-slider(v-if="works.length")
        .works-slider__pic-wrap(:data-slide="currentIndex + 1")
            .works-slider__pic
                img(:src="`https://webdev-api.loftschool.com/${currentWork.photo}`").works-slider__fullpic
        thumbs(
            :works="reversedWorks"
            :currentWork="currentWork"
        )
        btns(
            @slide="$emit('slide', $event)"
        )
        
script(type="text/x-template")#works-thumbs
    ul.works-slider__thumbs
        li.works-slider__item(
            v-for="slide in works" :key="slide.id"
            :class="{active: currentWork.id === slide.id}"
            )
            .works-slider__link
                img(:src="`https://webdev-api.loftschool.com/${slide.photo}`").works-slider__img

script(type="text/x-template")#works-btns
    .works-slider__buttons
        button(
            type="button"
            @click="$emit('slide', 'next')"
        ).works-slider__btn.works-slider__btn_next
        button(
            type="button"
            @click="$emit('slide', 'prev')"
        ).works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#works-info
    .works-data(
            :tags="tagsArray"
        )
        .works-data__subtitle {{currentWork.title}}
        .works-data__text
            p {{currentWork.description}}
        .view-site
            +icon('link', 'view-site__icon')
            a(:href="currentWork.link").view-site__link&attributes({'target': '_blank'}) Посмотреть сайт
            

script(type="text/x-template")#works-tags
    ul.works-data__tags
        li.works-data__item(v-for="tag in tags")
            span.tag {{tag}}